.box { 
    background: rgb(66, 42, 199);
    width: 100px; 
    height: 100px; 
    color: white; 
    font-size: 24px;  
    text-align: center; 
    position: relative; 
    top:100px;
}

.selected_box {
    border: 5px solid #000000 ; 
}